<%- include("_header") -%>

    <form action="/manage" method="post">
        <div class="form-horizontal">
            
            <%- include("search") -%>


    </form>
  

    <%- include("_footer") -%>